<form action="game" method="get">
  <input type="number" name="guess"/>
  <input type="submit" value="Submit"/>
</form>
<p><%= @result %></p>
<p>Tries: <%= cookies[:counter] %></p>
<p>(<%= cookies[:secret]%>)</p>
